.employee/
.api/__pycache__/
.api/migrations/__pycache__/
.employee_manager/__pycache__/
.OKR/__pycache__/
.OKR/migrations/__pycache__/
.employee_manager/settings.py
api/__pycache__/serializers.cpython-310.pyc
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
OKR/__pycache__/apps.cpython-310.pyc
OKR/__pycache__/models.cpython-310.pyc
.gitignore
.gitignore
OKR/migrations/0007_alter_okr_created_by_alter_okr_regularity_and_more.py
OKR/migrations/0008_okr_note.py
OKR/migrations/0009_rename_okr_id_log_okr.py
OKR/migrations/0010_alter_okr_updated_by.py
OKR/migrations/0011_alter_log_updated_by.py
OKR/migrations/0012_alter_objective_objective_content_and_more.py
OKR/migrations/__pycache__/0007_alter_okr_created_by_alter_okr_regularity_and_more.cpython-310.pyc
OKR/migrations/0013_alter_okr_files.py
OKR/migrations/__pycache__/0008_okr_note.cpython-310.pyc
OKR/migrations/__pycache__/0010_alter_okr_updated_by.cpython-310.pyc
OKR/migrations/__pycache__/0009_rename_okr_id_log_okr.cpython-310.pyc
OKR/migrations/__pycache__/0011_alter_log_updated_by.cpython-310.pyc
OKR/migrations/__pycache__/0013_alter_okr_files.cpython-310.pyc
OKR/migrations/__pycache__/0012_alter_objective_objective_content_and_more.cpython-310.pyc
.gitignore
OKR/__pycache__/signals.cpython-310.pyc
OKR/__pycache__/apps.cpython-310.pyc
OKR/__pycache__/models.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/serializers.cpython-310.pyc
OKR/migrations/0016_okr_deadline_quarter_okr_deadline_year.py
OKR/migrations/0017_okr_deadline_month.py
OKR/migrations/0018_alter_okr_result.py
OKR/migrations/0019_alter_okr_ratio.py
OKR/migrations/__pycache__/0016_okr_deadline_quarter_okr_deadline_year.cpython-310.pyc
OKR/migrations/__pycache__/0017_okr_deadline_month.cpython-310.pyc
OKR/migrations/__pycache__/0018_alter_okr_result.cpython-310.pyc
OKR/migrations/__pycache__/0019_alter_okr_ratio.cpython-310.pyc
OKR/__pycache__/models.cpython-310.pyc
OKR/__pycache__/serializers.cpython-310.pyc
OKR/__pycache__/signals.cpython-310.pyc
User/migrations/__init__.py
employee_manager/__pycache__/settings.cpython-310.pyc
Employee/migrations/__init__.py
Employee/migrations/0001_initial.py
Employee/migrations/0002_alter_department_created_by_alter_team_created_by.py
Employee/migrations/0003_employee_team.py
Employee/migrations/__pycache__/__init__.cpython-310.pyc
Employee/migrations/__pycache__/0001_initial.cpython-310.pyc
Employee/migrations/__pycache__/0002_alter_department_created_by_alter_team_created_by.cpython-310.pyc
Employee/migrations/__pycache__/0003_employee_team.cpython-310.pyc
.gitignore
api/__pycache__/serializers.cpython-310.pyc
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
