.employee/
.api/__pycache__/
.api/migrations/__pycache__/
.employee_manager/__pycache__/
.OKR/__pycache__/
.OKR/migrations/__pycache__/
.employee_manager/settings.py
api/__pycache__/serializers.cpython-310.pyc
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
OKR/__pycache__/apps.cpython-310.pyc
OKR/__pycache__/models.cpython-310.pyc
.gitignore
.gitignore
OKR/migrations/0007_alter_okr_created_by_alter_okr_regularity_and_more.py
OKR/migrations/0008_okr_note.py
OKR/migrations/0009_rename_okr_id_log_okr.py
OKR/migrations/0010_alter_okr_updated_by.py
OKR/migrations/0011_alter_log_updated_by.py
OKR/migrations/0012_alter_objective_objective_content_and_more.py
OKR/migrations/__pycache__/0007_alter_okr_created_by_alter_okr_regularity_and_more.cpython-310.pyc
OKR/migrations/0013_alter_okr_files.py
OKR/migrations/__pycache__/0008_okr_note.cpython-310.pyc
OKR/migrations/__pycache__/0010_alter_okr_updated_by.cpython-310.pyc
OKR/migrations/__pycache__/0009_rename_okr_id_log_okr.cpython-310.pyc
OKR/migrations/__pycache__/0011_alter_log_updated_by.cpython-310.pyc
OKR/migrations/__pycache__/0013_alter_okr_files.cpython-310.pyc
OKR/migrations/__pycache__/0012_alter_objective_objective_content_and_more.cpython-310.pyc
.gitignore
OKR/__pycache__/signals.cpython-310.pyc
OKR/__pycache__/apps.cpython-310.pyc
OKR/__pycache__/models.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/serializers.cpython-310.pyc
OKR/migrations/0016_okr_deadline_quarter_okr_deadline_year.py
OKR/migrations/0017_okr_deadline_month.py
OKR/migrations/0018_alter_okr_result.py
OKR/migrations/0019_alter_okr_ratio.py
OKR/migrations/__pycache__/0016_okr_deadline_quarter_okr_deadline_year.cpython-310.pyc
OKR/migrations/__pycache__/0017_okr_deadline_month.cpython-310.pyc
OKR/migrations/__pycache__/0018_alter_okr_result.cpython-310.pyc
OKR/migrations/__pycache__/0019_alter_okr_ratio.cpython-310.pyc
OKR/__pycache__/models.cpython-310.pyc
OKR/__pycache__/serializers.cpython-310.pyc
OKR/__pycache__/signals.cpython-310.pyc
User/migrations/__init__.py
employee_manager/__pycache__/settings.cpython-310.pyc
Employee/migrations/__init__.py
Employee/migrations/0001_initial.py
Employee/migrations/0002_alter_department_created_by_alter_team_created_by.py
Employee/migrations/0003_employee_team.py
Employee/migrations/__pycache__/__init__.cpython-310.pyc
Employee/migrations/__pycache__/0001_initial.cpython-310.pyc
Employee/migrations/__pycache__/0002_alter_department_created_by_alter_team_created_by.cpython-310.pyc
Employee/migrations/__pycache__/0003_employee_team.cpython-310.pyc
.gitignore
api/__pycache__/serializers.cpython-310.pyc
api/__pycache__/urls.cpython-310.pyc
api/__pycache__/views.cpython-310.pyc
OKR/__pycache__/apps.cpython-310.pyc
OKR/__pycache__/models.cpython-310.pyc
OKR/__pycache__/signals.cpython-310.pyc
OKR/migrations/0001_initial.py
OKR/migrations/0002_initial.py
OKR/migrations/0002_rename_logs_log.py
OKR/migrations/0003_alter_okr_condition_alter_okr_deadline_and_more.py
OKR/migrations/0004_alter_okr_deadline.py
OKR/migrations/0005_remove_okr_formula_id_remove_okr_key_result_content_and_more.py
OKR/migrations/0006_alter_okr_files.py
OKR/migrations/0014_rename_key_result_1_okr_key_result_department_and_more.py
OKR/migrations/0015_alter_okr_key_result_department_and_more.py
OKR/migrations/__pycache__/0001_initial.cpython-310.pyc
OKR/migrations/__pycache__/0002_initial.cpython-310.pyc
OKR/migrations/__pycache__/0020_okr_actual_okr_estimated.cpython-310.pyc
OKR/migrations/__pycache__/0021_okr_user.cpython-310.pyc
OKR/migrations/0001_initial.py
OKR/migrations/0002_rename_logs_log.py
OKR/migrations/0003_alter_okr_condition_alter_okr_deadline_and_more.py
OKR/migrations/0004_alter_okr_deadline.py
OKR/migrations/0005_remove_okr_formula_id_remove_okr_key_result_content_and_more.py
OKR/migrations/0006_alter_okr_files.py
OKR/migrations/0014_rename_key_result_1_okr_key_result_department_and_more.py
OKR/migrations/0015_alter_okr_key_result_department_and_more.py
OKR/migrations/__pycache__/0001_initial.cpython-310.pyc
OKR/__pycache__/apps.cpython-310.pyc
OKR/__pycache__/models.cpython-310.pyc
OKR/__pycache__/signals.cpython-310.pyc
User/migrations/0001_initial.py
User/migrations/0002_user_employee.py
User/migrations/0003_alter_user_created_at_alter_user_created_by_and_more.py
User/migrations/0004_remove_user_groups_remove_user_user_permissions.py
User/migrations/0005_user_groups_user_user_permissions.py
User/migrations/__pycache__/__init__.cpython-310.pyc
User/migrations/__pycache__/0001_initial.cpython-310.pyc
User/migrations/__pycache__/0002_alter_user_options_alter_user_managers_and_more.cpython-310.pyc
User/migrations/__pycache__/0002_user_employee.cpython-310.pyc
User/migrations/__pycache__/0002_user_id_alter_user_employee_alter_user_is_superuser.cpython-310.pyc
User/migrations/__pycache__/0003_alter_user_created_at_alter_user_created_by_and_more.cpython-310.pyc
User/migrations/__pycache__/0003_alter_user_id.cpython-310.pyc
User/migrations/__pycache__/0004_remove_user_groups_remove_user_user_permissions.cpython-310.pyc
User/migrations/__pycache__/0005_user_groups_user_user_permissions.cpython-310.pyc
